###> symfony/framework-bundle ###
/ratebtn.tar
/.env.local
/.env.local.php
/.env.*.local
/var/
/vendor/
/logs/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###
